// Custom styles.
/*.post {
	padding: 20px;
	-webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
	-moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
}*/

.posts-expand {
	.post {
		margin-top: 0px;
		margin-bottom: 30px;
		padding: 20px;
		-webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
		-moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
	}
}

.header-inner {
	.site-title {
    	color: #ea6f5a;
  	}
}

.logo-line-before,
.logo-line-after {
	
	i {
	    background: #ea6f5a;
  	}
}